body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
    font-style: normal;
    list-style: none;
}
::-webkit-scrollbar{width:10px;height:10px}
::-webkit-scrollbar-thumb{background:#0081c2;border-radius:8px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 8px;
}

label{font-weight:400;}
a{ text-decoration: none;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}


.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{}
*html .clearfix{height:1%}
.Clearfix{display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}
.i-block{display: inline-block;}
 
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w200{width:200px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w{width:100%}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}
.h{height:100%}


.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

.pl0{padding-left:0}
.pr0{padding-right:0}

.bort{
    border-top: 1px solid #dddddd;
}
.c-blue{
    color: #47a7f3;
}
.c-orange{
    color: #fea606;
}
.c-red{
    color: #f35c47;
}
.datagrid-row-selected  a{
    color:#fff;
}
.file-footer-buttons .btn-default {
    background-color: #ff9b00;
    border-color: #ff9b00;
    color: #fff;
}
.em_search{ cursor: pointer; background-image: url(/Scripts/jquery-easyui-1.4.5/themes/icons/search.png); background-repeat: no-repeat;background-position: 100% center;}
.file-preview {margin-bottom:0px}
.file-thumbnail-footer{width:100%;display:table}
.file-thumbnail-footer .file-footer-caption{display:table-cell;margin:2px 0px 0px 0px;padding:0px;float:left;text-align:left;width:calc(100% - 60px);width:-moz-calc(100% - 60px);width:-webkit-calc(100% - 60px)}
.file-thumbnail-footer .file-actions{display:table-cell;margin:0px;padding:0px;overflow:hidden;float:right;}
.file-thumbnail-footer .file-actions .file-footer-buttons button{width:23px}
.file-thumbnail-footer .file-actions .file-footer-buttons button i{margin-left:-9px}
.datagrid-htable tr td {
    text-align: center !important;
}
.datagrid-htable tr td div {
    text-align: center !important;
}
.accordion .accordion-header{border-bottom:1px solid #d7d7d7}
.preview { margin:0px;padding:1px;border:none;background-color:#faf4ff }
        .preview .file-upload-indicator{display:none}
            .preview .file-preview-frame { margin:3px 0px 0px 0px;padding:2px;width:100%;height:24px; border: medium none; box-shadow: none; line-height: 22px; margin: 0; text-indent: 4px; }
            .preview .kv-file-content { display:none}
            .preview .progress{display:none}
            .preview samp{display:none}
            .preview .file-drag-handle{display:none}
 .progress{margin-bottom:0px}
.file-preview-frame:not(.file-preview-error):hover{box-shadow:none}

.file-zoom-content{overflow-y:auto}

iframe{border:0px;}
.form-inline label{font-size:12px;font-weight:400}
.form-inline .form-control{height:28px;font-size:12px}
.dialog-button a{color:#ffffff;}
.dialog-button a:hover{color:#ffffff;}
.dialog-button a:nth-of-type(odd){background:orange}
.dialog-button a:nth-of-type(even){background:gray}
.dialog-button .l-btn-icon{display:none}
.dialog-button .l-btn-icon-left .l-btn-text{margin:0 14px 0 14px}


.pwdShow{position:absolute;top:197px;right:40px;cursor:pointer;}